.login-form-container {
    position: absolute;
    font-size: 2rem;
    min-width: 350px;
    width: 350px;
    min-height: 256px;
}

.login-container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-in-label {
    font-size: 2rem;
    padding-bottom: 15px;
}